html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

a {
    background-image: none;
}

.map img {
    transform: none;
    border: none;
    border-radius: 0%;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: transparent !important ;
    box-shadow: none !important ;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #272625 !important ;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #272625 !important ;
}

.postcard img {
    max-height: 250px;
    object-fit: cover;
}